.dashboard-graphs {
  display: flex;
  gap: 2rem;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 15px;
  margin-bottom: 60px;
}
#barchart, #piechart {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 8px #0001;
  padding: 1rem;
}
