<div class="profile-container">
    <!-- Hero Section -->
    <section class="hero">
      <div class="container">
        <h1 class="title">"EDU"</h1>
        <p class="subtitle">Ajudando a cidade!</p>
        <button class="btn btn-outline" [routerLink]="'/dashboard'">Voltar para o Dashboard</button>
      </div>
    </section>
  
    <!-- Denúncias Section -->
    <section class="denuncias-section">
      <h2 class="denuncias-title">Minhas denuncias</h2>
  
      <div class="cards-grid">
        <app-denuncias-cards [denunciasFiltradas]="minhasDenuncias"></app-denuncias-cards>
      </div>
    </section>
  </div>