<section class="hero">
  <div class="container">
    <h1 class="title">ResolveJá</h1>
    <p class="subtitle">Faça seu login e ajude a cidade!</p>
  </div>
</section>

<div class="login-container">
  <h2>Login</h2>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div>
      <label>Email:</label>
      <input type="email" formControlName="email" placeholder="Digite seu email" required />
      <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">
          Email inválido.
      </div>
    </div>

    <div>
      <label>Senha:</label>
      <input type="password" formControlName="password" placeholder="Digite sua senha" required />
      <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
          A senha deve ter pelo menos 6 caracteres.
      </div>
    </div>

    <!-- Mensagem de erro amigável -->
    <div *ngIf="errorMessage" class="error-message">
      {{ errorMessage }}
    </div>

    <!-- Botão de Login com Spinner -->
    <button type="submit" [disabled]="loginForm.invalid || isLoading">
      <span *ngIf="!isLoading">Entrar</span>
      <span *ngIf="isLoading" class="spinner"></span>
    </button>
  </form>
  
  <p>Não tem uma conta? <a routerLink="/register">Faça seu cadastro</a></p>
</div>
