<div class="dashboard-container">
    <button (click)="logout()">Logout</button>
    <h1>Dashboard</h1>

    <h2>Denúncias</h2>

    <div class="filters">
      <label for="status">Status:</label>
      <select id="status" [(ngModel)]="selectedStatus" (change)="filtrarDenuncias()">
        <option value="">Todos</option>
        <option value="pendente">Pendente</option>
        <option value="em andamento">Em Andamento</option>
        <option value="resolvido">Resolvido</option>
      </select>
      
      <label for="tipo">Tipo:</label>
      <select id="tipo" [(ngModel)]="selectedTipo" (change)="filtrarDenuncias()">
        <option value="">Todos</option>
        <option value="buraco">Buraco</option>
        <option value="iluminacao">Iluminação</option>
        <option value="lixo">Lixo</option>
      </select>
    </div>

  <!-- Botão que alterna entre "Nova Denúncia" e "Fechar" -->
  <button (click)="toggleNovaDenuncia()" class="nova-denuncia-btn">
    {{ isOpen ? 'Fechar' : '+ Nova Denúncia' }}
  </button>

  <!-- Exibe o componente de nova denúncia se isOpen for true -->
  <div *ngIf="isOpen">
    <app-nova-denuncia></app-nova-denuncia>
  </div>

  <app-denuncias-cards
  [denunciasFiltradas]="denunciasFiltradas">
</app-denuncias-cards>

  <app-heatmap></app-heatmap>
